---
import type { GetStaticPathsResult } from "astro";
import MainLayout from "../../layouts/MainLayout.astro";

const REPO_URL: string = import.meta.env.VITE_REPO_URL;

export async function getStaticPaths(): Promise<GetStaticPathsResult> {
    const _REPO_URL: string = import.meta.env.VITE_REPO_URL;
    const response = await fetch(`${_REPO_URL}/categories.json`);
    const categories = await response.json();
    const paths = Object.keys(categories).map((category: string) => ({
        params: { category },
    }));
    return paths;
}

const { category } = Astro.params;

if (!category) {
    console.error("This will shut TypeScript up!");
    return;
}

const response = await fetch(`${REPO_URL}/categories.json`);
const categories = await response.json();
const subcategories = categories[category] || [];
---

<MainLayout
    title={`Subcategories of ${category}`}
    description={`The list of subcategories to ${category} on GrantBin Hub.`}
>
    <h1><a href="..">Categories</a> &rightarrow; {category}</h1>

    <ul>
        {
            subcategories.map((subcategory: string) => (
                <li>
                    <a href={`/categories/${category}/${subcategory}`}>
                        {subcategory}
                    </a>
                </li>
            ))
        }
    </ul>
</MainLayout>
